<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_spree_admin_attached_option_type_path(@spree_admin_attached_option_type) %> |
<%= link_to 'Back', spree_admin_attached_option_types_path %>
